<main>
  <!-- SECCIÓN DE INSTRUCTORES -->
  <section class="classes-section">
    <h1>Instructores</h1>

    <div *ngIf="loading" class="loader-container">
      <app-loader></app-loader>
    </div>

    <div class="classes-container">
      <article class="class-card" *ngFor="let i of instructors">
        <span class="background-filter"></span>

        <!-- ===== MODO VISTA ===== -->
        <ng-container *ngIf="editingInstructor?.state_id !== i.state_id">

          <span class="rank-badge">{{ i.rango_sahp }}</span>

          <div class="photo-wrapper">
            <img [src]="i.foto" class="instructor-photo" />
          </div>

          <h3 class="instructor-name">
            {{ i.nombre }} {{ i.apellidos }}
          </h3>

          <div class="info">
            <p><strong><i class="material-icons">calendar_today</i> Nacimiento</strong><br>{{ i.fecha_nacimiento | date:'longDate':'':'es' }}</p>
            <p id="tel" (click)="copyTel(i.telefono)"><strong><i class="material-icons" title="Copiar tlf al portapapeles">call</i> Teléfono</strong><br>{{ i.telefono }}</p>
          </div>

          <div class="card-footer">
            <span class="vehicle-count"><i class="material-icons">badge</i> <div class="docs"><span>STATE ID #{{ i.state_id }}</span><span>Nº Placa: {{i.num_placa}}</span></div></span>

            <div class="actions" *ngIf="isAdmin">
              <button class="edit-btn" (click)="startEdit(i)"><i class="material-icons">edit</i></button>
              <button class="delete-btn" (click)="askDelete(i.state_id)"><i class="material-icons">delete</i></button>
            </div>
          </div>

          <div class="confirm-delete" *ngIf="confirmDeleteId === i.state_id">
            <i class="material-icons">delete</i>
            <p>Estas seguro de que quieres eliminar a {{ i.nombre }} {{ i.apellidos }}?</p>

            <button class="danger" (click)="confirmDelete(i.state_id, i)">
              Sí, eliminar
            </button>

            <button class="cancel" (click)="cancelDelete()">
              Cancelar
            </button>
          </div>

        </ng-container>

        <!-- ===== MODO EDICIÓN ===== -->
        <ng-container *ngIf="editingInstructor?.state_id === i.state_id">
          <h3>Editando instructor<br> STATE ID #{{ editingInstructor.state_id }}</h3>
          <input [(ngModel)]="editingInstructor.nombre" placeholder="Nombre" />
          <input [(ngModel)]="editingInstructor.apellidos" placeholder="Apellidos" />
          <input [(ngModel)]="editingInstructor.rango_sahp" placeholder="Rango" />
          <input [(ngModel)]="editingInstructor.num_placa" placeholder="Nº Placa" />
          <input type="date" [(ngModel)]="editingInstructor.fecha_nacimiento" />
          <input [(ngModel)]="editingInstructor.telefono" placeholder="Teléfono" />
          <input [(ngModel)]="editingInstructor.foto" placeholder="URL foto" />

          <div class="edit-actions">
            <button class="save-btn" (click)="saveEdit()">Guardar</button>
            <button class="cancel-btn" (click)="cancelEdit()">Cancelar</button>
          </div>

        </ng-container>

      </article>
    </div>


    <button class="add-btn" *ngIf="isAdmin" (click)="startAdd()">Añadir instructor</button>

    <div *ngIf="addingInstructor" class="edit-form">
      <h3>Añadir instructor</h3>

      <input type="text" [(ngModel)]="addingInstructor.nombre" placeholder="Nombre" />
      <input type="text" [(ngModel)]="addingInstructor.apellidos" placeholder="Apellidos" />
      <input type="text" [(ngModel)]="addingInstructor.rango_sahp" placeholder="Rango SAHP" />
      <input type="number" [(ngModel)]="addingInstructor.state_id" placeholder="STATE ID" />
      <input type="date" [(ngModel)]="addingInstructor.fecha_nacimiento" />
      <input type="text" [(ngModel)]="addingInstructor.telefono" placeholder="Teléfono" />
      <input type="text" [(ngModel)]="addingInstructor.foto" placeholder="Foto URL" />
      <input type="text" [(ngModel)]="addingInstructor.num_placa" placeholder="Nº Placa" />
      <div class="form-buttons">
        <button class="save-btn" (click)="addInstructor()">Guardar</button>
        <button class="cancel-btn" (click)="addingInstructor = null">Cancelar</button>
      </div>
    </div>

  </section>
</main>
