<header class="header">
  <div class="logo">
    <a routerLink="/" routerLinkActive="active">
      <img src="https://i.imgur.com/B8eZZTa.png" alt="">
      <span>San Andreas Highway Patrol</span>
    </a>
  </div>

  <nav>
    <a routerLink="classes" routerLinkActive="active">Clases</a>
    <a routerLink="instructors" routerLinkActive="active">Instructores</a>
    <a routerLink="login" routerLinkActive="active" *ngIf="!isLoggedIn()">Login</a>
    <a style="cursor: pointer;" (click)="logout()" *ngIf="isLoggedIn()">Cerrar Sesión</a>
  </nav>
</header>
