<main class="licenses-page">
  <h1>SAHP Licencias y Autorizaciones</h1>
  <p class="subtitle">
    Debajo se encuentran las licencias y autorizaciones emitidas por el San Andreas Highway Patrol (SAHP) para la operación de vehículos específicos en servicio policial.
  </p>
  <div *ngIf="loading" class="loader-container">
    <app-loader></app-loader>
  </div>

  <div class="licenses-container">
    <article class="license-card" *ngFor="let l of licenses">

      <!-- Imagen vehículo -->
      <div class="vehicle-image">
        <img [src]="l.image_url" [alt]="l.vehicle" />
        <span class="vehicle-name">{{ l.name }}</span>
      </div>

      <!-- Header -->
      <div class="license-header">
        <h2>{{ l.title }}</h2>
        <span class="status" [class.active]="l.active" [class.inactive]="!l.active">
          {{ l.active ? 'ACTIVE' : 'INACTIVE' }}
        </span>
      </div>

      <p class="description">
        {{ l.description }}
      </p>

      <div class="license-info">
        <p><strong>Requerido para:</strong> {{ l.required }}</p>
        <p><strong>Unidades exentas:</strong> {{ l.exempt }}</p>
      </div>

      <div class="notice">
        Esta autorización aplica exclusivamente a la operación del vehículo.
      </div>

      <button class="toggle-status-btn" (click)="toggleLicenseStatus(l.id, l)">
        Cambiar Estado de Licencia
      </button>

    </article>
  </div>
</main>
