<main class="licenses-page">
  <h1>SAHP Licencias y Autorizaciones</h1>
  <p class="subtitle">
    Debajo se encuentran las licencias y autorizaciones emitidas por el San Andreas Highway Patrol (SAHP) para la operación de vehículos específicos en servicio policial.
  </p>
  <div *ngIf="loading" class="loader-container">
    <app-loader></app-loader>
  </div>

  <div class="licenses-container">
    <article class="license-card" *ngFor="let l of licenses">

      <!-- Imagen vehículo -->
      <div class="vehicle-image">
        <img [src]="l.image_url" [alt]="l.vehicle" />
        <span class="vehicle-name">{{ l.name }}</span>
      </div>

      <!-- Header -->
      <div class="license-header">
        <h2>{{ l.title }}</h2>
        <span class="status" [class.active]="l.active" [class.inactive]="!l.active">
          {{ l.active ? 'ACTIVE' : 'INACTIVE' }}
        </span>
      </div>

      <p class="description">
        {{ l.description }}
      </p>

      <div class="license-info">
        <p><strong>Requerido para:</strong> {{ l.required }}</p>
        <p><strong>Unidades exentas:</strong> {{ l.exempt }}</p>
      </div>

      <div class="notice">
        Esta autorización aplica exclusivamente a la operación del vehículo.
      </div>

      <button *ngIf="checkAdmin()" class="toggle-status-btn" (click)="toggleLicenseStatus(l.id, l)">
        Cambiar Estado de Licencia
      </button>

      <button *ngIf="checkAdmin()" class="delete-license-btn" (click)="deleteLicense(l)">
        Eliminar Licencia
      </button>

    </article>
  </div>

  <button *ngIf="checkAdmin()" class="create-license-btn" (click)="openCreateLicenseModal()">
    Crear Nueva Licencia
  </button>

  <div *ngIf="this.modalLicense" class="add-form">
    <h3>Añadir Licencia</h3>

    <input type="text" [(ngModel)]="addingLicense.name" placeholder="Nombre" />
    <input type="text" [(ngModel)]="addingLicense.title" placeholder="Título" />
    <input type="text" [(ngModel)]="addingLicense.image_url" placeholder="URL de Imagen (opcional)" />
    <input type="text" [(ngModel)]="addingLicense.description" placeholder="Descripción (opcional)" />
    <input type="text" [(ngModel)]="addingLicense.required" placeholder="Requerido para (opcional)" />
    <input type="text" [(ngModel)]="addingLicense.exempt" placeholder="Unidades exentas (opcional)" />
    <div class="form-buttons">
      <button class="save-btn" (click)="addLicense()">Guardar</button>
      <button class="cancel-btn" (click)="modalLicense = false; addingLicense = null">Cancelar</button>

    </div>
  </div>

</main>
