<h2 class="page-title">{{ 'ALL_VEHICLES.TITLE' | translate }}</h2>

<div class="filters-bar">

  <input
    type="text"
    placeholder="{{ 'ALL_VEHICLES.FILTERS.SEARCH' | translate }}"
    [(ngModel)]="searchText"
  />

  <select   [(ngModel)]="selectedClass">
    <option value="">{{ 'ALL_VEHICLES.FILTERS.CLASS' | translate }}</option>
    <option *ngFor="let class of classes" [value]="class.id">{{ class.name }}</option>
  </select>

  <select [(ngModel)]="sortOrder">
    <option value="az">{{ 'ALL_VEHICLES.FILTERS.NAME' | translate }} A–Z</option>
    <option value="za">{{ 'ALL_VEHICLES.FILTERS.NAME' | translate }} Z–A</option>
  </select>

</div>


<div *ngIf="loading" class="loader-container">
  <app-loader></app-loader>
</div>

<div class="vehicles-list">
  <div *ngFor="let v of filteredVehicles" class="vehicle-card">
    <div class="img-container">
      <a routerLink="/vehicles/{{v.class_id}}" routerLinkActive="active"><span class="class-badge">
        {{ v.class_id === 1 ? 'B' : v.class_id === 2 ? 'A' : v.class_id === 3 ? 'S+' : 'C' }}
      </span></a>
      <span class="class-copy">
        <i (click)="copyModel(v.model)" class="material-icons" title="{{ 'ALL_VEHICLES.COPY' | translate }}">
          copy_all
        </i>
      </span>
      <img [src]="v.image_url" onerror="this.onerror=null;this.src='https://i.imgur.com/5fXa2iY.png';" (click)="openImage(v.image_url)" class="clickable-img" alt="{{ v.name }}" />
    </div>
    <div class="vehicle-info">
      <h3>{{ v.name }}</h3>

      <div class="margenes"><span>{{ 'ALL_VEHICLES.FOLLOW' | translate }}-></span><span>{{ v.follow_class }}</span></div>
      <div *ngIf="v.tuned" class="margenes"><span>{{ 'ALL_VEHICLES.TUNED' | translate }}-></span><span>{{ v.tuned }}</span></div>
      <p *ngIf="v.note">{{ 'ALL_VEHICLES.NOTE' | translate }}: {{ v.note }}</p>
      <div class="buttons" *ngIf="isAdmin">
        <button class="edit-btn" (click)="startEdit(v)">{{ 'ALL_VEHICLES.EDIT' | translate }}</button>
        <button class="delete-btn" (click)="deleteVehicle(v.id)">{{ 'ALL_VEHICLES.DELETE' | translate }}</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="editingVehicle" class="edit-form">
  <h3>{{ 'ALL_VEHICLES.EDITFORM.TITLE' | translate }}</h3>

  <input type="text" [(ngModel)]="editingVehicle.name" placeholder="{{ 'ALL_VEHICLES.EDITFORM.NAME' | translate }}" />
  <input type="text" [(ngModel)]="editingVehicle.model" placeholder="{{ 'ALL_VEHICLES.EDITFORM.MODEL' | translate }}" />
  <input type="text" [(ngModel)]="editingVehicle.image_url" placeholder="{{ 'ALL_VEHICLES.EDITFORM.IMAGE_URL' | translate }}" />

  <div class="preview" *ngIf="editingVehicle.image_url">
    <img
      [src]="editingVehicle.image_url"
      (load)="onImageLoad()"
      (error)="onImageError()"
    />
    <p *ngIf="editingVehicle.image_url.startsWith('data:')" class="error-msg">
      {{ 'ALL_VEHICLES.MESSAGE.DATAURL' | translate }}
    </p>
    <p *ngIf="!imageOk" class="error-msg">
      {{ 'ALL_VEHICLES.MESSAGE.IMAGEURL' | translate }}
    </p>
  </div>
  <p>
    {{ 'ALL_VEHICLES.EDITFORM.CLASS' | translate }}:
    <select name="class_id" id="class_id" [(ngModel)]="editingVehicle.class_id">
      <option *ngFor="let class of classes" [value]="class.id">{{ class.name }}</option>
    </select>
  </p>
  
  <div style="display: flex; align-items: center; gap: 10px;">
  <label for="follow_class" style="white-space: nowrap;">
    {{ 'ALL_VEHICLES.EDITFORM.FOLLOW' | translate }}:
  </label>

  <input
    type="text"
    id="follow_class"
    name="follow_class"
    [(ngModel)]="editingVehicle.follow_class"
    placeholder="{{ 'ALL_VEHICLES.EDITFORM.FOLLOW' | translate }}"
    style="flex: 1;"
  />
  </div>
  <div style="display: flex; align-items: center; gap: 10px;">
  <label for="tuned" style="white-space: nowrap;">
    {{ 'ALL_VEHICLES.EDITFORM.TUNED' | translate }}:
  </label>

  <input
    type="text"
    id="tuned"
    name="tuned"
    [(ngModel)]="editingVehicle.tuned"
    placeholder="{{ 'ALL_VEHICLES.EDITFORM.TUNED' | translate }}"
    style="flex: 1;"
  />
  </div>
  <input style="height:30px;" type="text" name="note" id="note" [(ngModel)]="editingVehicle.note" placeholder="{{ 'ALL_VEHICLES.EDITFORM.NOTE' | translate }}" />
  <div class="form-buttons">
    <button class="save-btn" (click)="editVehicle()" [disabled]="!imageOk || editingVehicle.image_url.startsWith('data:')">{{ 'ALL_VEHICLES.EDITFORM.SAVE' | translate }}</button>
    <button class="cancel-btn" (click)="editingVehicle = null">{{ 'ALL_VEHICLES.EDITFORM.CANCEL' | translate }}</button>
  </div>
</div>
<div class="image-modal" *ngIf="selectedImage" (click)="closeImage()">
  <img [src]="selectedImage" (click)="$event.stopPropagation()" />
  <span class="close-btn" (click)="closeImage()">✕</span>
</div>

<button class="add-btn" *ngIf="isAdmin" (click)="startAdd()">{{ 'ALL_VEHICLES.ADDFORM.TITLE' | translate }}</button>

<div *ngIf="addingVehicle" class="edit-form">
  <h3>{{ 'ALL_VEHICLES.ADDFORM.TITLE' | translate }}</h3>

  <input type="text" [(ngModel)]="addingVehicle.name" placeholder="{{ 'ALL_VEHICLES.ADDFORM.NAME' | translate }}" />
  <input type="text" [(ngModel)]="addingVehicle.model" placeholder="{{ 'ALL_VEHICLES.ADDFORM.MODEL' | translate }}" />
  <input type="text" [(ngModel)]="addingVehicle.image_url" placeholder="{{ 'ALL_VEHICLES.ADDFORM.IMAGE_URL' | translate }}" />

  <div class="preview" *ngIf="addingVehicle.image_url">
    <img
      [src]="addingVehicle.image_url"
      (load)="onImageLoad()"
      (error)="onImageError()"
    />
    <p *ngIf="addingVehicle.image_url.startsWith('data:')" class="error-msg">
      {{ 'ALL_VEHICLES.MESSAGE.DATAURL' | translate }}
    </p>
    <p *ngIf="!imageOk" class="error-msg">
      {{ 'ALL_VEHICLES.MESSAGE.IMAGEURL' | translate }}
    </p>
  </div>

  <p>
    {{ 'ALL_VEHICLES.ADDFORM.CLASS' | translate }}:
    <select name="class_id" id="class_id" [(ngModel)]="addingVehicle.class_id">
      <option *ngFor="let class of classes" [value]="class.id">{{ class.name }}</option>
    </select>
  </p>

  <div style="display: flex; align-items: center; gap: 10px;">
  <label for="follow_class" style="white-space: nowrap;">
    {{ 'ALL_VEHICLES.ADDFORM.FOLLOW' | translate }}:
  </label>
  <input type="text" name="follow_class" id="follow_class" [(ngModel)]="addingVehicle.follow_class" placeholder="{{ 'ALL_VEHICLES.ADDFORM.FOLLOW' | translate }}" />
  </div>

  <div style="display: flex; align-items: center; gap: 10px;">
  <label for="tuned" style="white-space: nowrap;">
    {{ 'ALL_VEHICLES.ADDFORM.TUNED' | translate }}:
  </label>
  <input type="text" name="tuned" id="tuned" [(ngModel)]="addingVehicle.tuned" placeholder="{{ 'ALL_VEHICLES.ADDFORM.TUNED' | translate }}" />
  </div>
  
  <input type="text" name="note" id="note" [(ngModel)]="addingVehicle.note" placeholder="{{ 'ALL_VEHICLES.ADDFORM.NOTE' | translate }}" />
  <div class="form-buttons">
    <button class="save-btn" (click)="addVehicle()" [disabled]="!imageOk || addingVehicle.image_url.startsWith('data:')">{{ 'ALL_VEHICLES.ADDFORM.SAVE' | translate }}</button>
    <button class="cancel-btn" (click)="addingVehicle = null">{{ 'ALL_VEHICLES.ADDFORM.CANCEL' | translate }}</button>
  </div>
</div>