<h2 class="page-title">Todos los vehículos</h2>

<div class="filters-bar">

  <input
    type="text"
    placeholder="Buscar por nombre o modelo..."
    [(ngModel)]="searchText"
  />

  <select [(ngModel)]="selectedClass">
    <option value="">Todas las clases</option>
    <option value="1">Clase B</option>
    <option value="2">Clase A</option>
    <option value="4">Clase C</option>
    <option value="3">Clase S+</option>
  </select>

  <select [(ngModel)]="sortOrder">
    <option value="az">Nombre A–Z</option>
    <option value="za">Nombre Z–A</option>
  </select>

</div>


<div *ngIf="loading" class="loader-container">
  <app-loader></app-loader>
</div>

<div class="vehicles-list">
  <div *ngFor="let v of filteredVehicles" class="vehicle-card">
    <div class="img-container">
      <a routerLink="/vehicles/{{v.class_id}}" routerLinkActive="active"><span class="class-badge">
        {{ v.class_id === 1 ? 'B' : v.class_id === 2 ? 'A' : v.class_id === 3 ? 'S+' : 'C' }}
      </span></a>
      <span class="class-copy">
        <span (click)="copyModel(v.model)" class="material-symbols-outlined">
          copy_all
        </span>
      </span>
      <img [src]="v.image_url" alt="{{ v.name }}" />
    </div>
    <div class="vehicle-info">
      <h3>{{ v.name }}</h3>
      <p>{{ v.follow_class }}</p>
      <p>Nota: {{ v.note }}</p>
      <div class="buttons">
        <button class="edit-btn" (click)="startEdit(v)">Editar</button>
        <button class="delete-btn" (click)="deleteVehicle(v.id)">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="editingVehicle" class="edit-form">
  <h3>Editar vehículo</h3>

  <input type="text" [(ngModel)]="editingVehicle.name" placeholder="Nombre" />
  <input type="text" [(ngModel)]="editingVehicle.model" placeholder="Modelo" />
  <input type="text" [(ngModel)]="editingVehicle.image_url" placeholder="URL imagen" />

  <div class="preview" *ngIf="editingVehicle.image_url">
    <img
      [src]="editingVehicle.image_url"
      (load)="onImageLoad()"
      (error)="onImageError()"
    />
    <p *ngIf="editingVehicle.image_url.startsWith('data:')" class="error-msg">
      ❌ No se permiten imágenes en formato data URL
    </p>
    <p *ngIf="!imageOk" class="error-msg">
      ❌ La imagen no carga o el enlace no es válido
    </p>
  </div>

  <select name="class_id" id="class_id" [(ngModel)]="editingVehicle.class_id">
    <option value="1">Clase B</option>
    <option value="2">Clase A</option>
    <option value="3">Clase S+</option>
    <option value="4">Clase C</option>
  </select>

  <span>Se sigue con:</span>
  <input type="text" name="follow_class" id="follow_class" [(ngModel)]="editingVehicle.follow_class" placeholder="Clase a seguir" />
  <input type="text" name="note" id="note" [(ngModel)]="editingVehicle.note" placeholder="Nota" />
  <div class="form-buttons">
    <button class="save-btn" (click)="editVehicle()" [disabled]="!imageOk || editingVehicle.image_url.startsWith('data:')">Guardar</button>
    <button class="cancel-btn" (click)="editingVehicle = null">Cancelar</button>
  </div>
</div>