@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
}


body{
  background-image: url('https://sahp.infinityfreeapp.com/fondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 60vh;
  overflow: auto;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
    display: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackbar-progress {
  position: relative;
  overflow: hidden;
}

.snackbar-progress::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  background-color: #00527e; /* color de la barra */
  animation: snackbar-progress 3s linear forwards;
}

@keyframes snackbar-progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}